<div class="container">
  <div class="change-password">
    <div class="row">
      <form accept-charset="UTF-8" role="form" #loginForm="ngForm" (ngSubmit)="submit()">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Old Password</span>
          </div>
          <input type="password" class="form-control" minlength="8" name="oldpassword" required [(ngModel)]="oldpassword" #oldpasswordText="ngModel" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">New Password</span>
          </div>
          <input type="password" class="form-control" minlength="8" name="newpassword" required [(ngModel)]="newpassword" #newpasswordText="ngModel" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Confirm New Password</span>
          </div>
          <input type="password" class="form-control" minlength="8" name="confirmnewpassword" required [(ngModel)]="confirmnewpassword" #confirmpasswordText="ngModel" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group mb-3">
          <h4 style="color: red">{{promt}}</h4>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" [disabled]="!loginForm.form.valid" class="btn btn-success">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>