<div class="container">
    <div class="logo-center"> 
        <img src="../../../assets/LOGO.jpg" class="logo">
      </div>
  <div class="category-table table-responsive" style="background: white">
    <div class="row add-category">
      <div class="col-md-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Name and Description</span>
          </div>
          <input type="text" [(ngModel)]="category_name" label="Name" class="form-control">
          <input type="text" [(ngModel)]="category_description" label="Description" class="form-control">
        </div>
      </div>
      <div class="col-md-2">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" *ngIf="activeUpdate" (click)="updateFile()" class="btn btn-success">Update</button>
          <button type="button" *ngIf="activeUpdate" (click)="cancel()" class="btn btn-warning">Cancel</button>
          <button type="button" *ngIf="!activeUpdate" (click)="addFile()" class="btn btn-success">Add</button>
          <button type="button" *ngIf="!activeUpdate" (click)="clear()" class="btn btn-warning">Clear</button>
        </div>
      </div>
    </div>

    <table *ngIf="categories.length>0" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>
            {{category.name}}
          </td>
          <td>
            {{category.description}}
          </td>
          <td>
            <button type="button" (click)="toUpdate(category)" class="btn btn-info">Edit</button>
            <button type="button" (click)="deleteFile(category.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<modal #myModal>
  <modal-header>
    <h3>Add Category</h3>
  </modal-header>
  <modal-content>

  </modal-content>
  <modal-footer>
    <div class="btn-wrap division">
      <button type="button" (click)="sendToAll(myModal)" class="btn btn-success btn-with-icon">
        <i class="fa fa-check fa-fw"></i>Send</button>
      <button type="button" (click)="closeModal(myModal)" class="btn btn-warning btn-with-icon">
        <i class="fa fa-exclamation-triangle fa-fw"></i>Close</button>
    </div>
  </modal-footer>
</modal>