<div class="container login">
  <div class="logo-center"> 
    <img src="../../../assets/LOGO.jpg" class="logo">
  </div>
  <div class="row">
    <div class="col-md-12 col-md-offset-12">
      <div class="login-margin">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title login">Please sign in</h4>
          </div>
          <div class="panel-body">
            <form accept-charset="UTF-8" role="form" #loginForm="ngForm" (ngSubmit)="login()">

              <div class="form-group">
                <input class="form-control" required placeholder="E-mail" id="email" [(ngModel)]="email" #emailText="ngModel" email name="email"
                  type="email">
                <div *ngIf="emailText.invalid && (emailText.dirty || emailText.touched)" class="alert alert-danger login">
                  <div *ngIf="emailText.errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="emailText.errors.email">
                    Email is not valid.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input class="form-control" required placeholder="Password" id="password" [(ngModel)]="password" minlength="8" name="password"
                  #passwordText="ngModel" type="password" value="">
                <div *ngIf="passwordText.invalid && (passwordText.dirty || passwordText.touched)" class="alert alert-danger login">
                  <div *ngIf="passwordText.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="passwordText.errors.minlength">
                    Password must be at least 8 characters long.
                  </div>
                </div>
              </div>
              {{promt}}
              <input class="btn btn-lg btn-success btn-block" [disabled]="!loginForm.form.valid" type="submit" value="Login">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>