<div class="container">
  <div class="regiter-users">
    <div class="row" >
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      
      <div class="input-group  mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
        </div>
        <input type="email" class="form-control"  [(ngModel)]="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
        </div>
        <input type="password" class="form-control" [(ngModel)]="password"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Confirm Password</span>
        </div>
        <input type="password" class="form-control" [(ngModel)]="confirmpassword"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="register()" class="btn btn-success">Register</button>
      </div>
    </div>
  </div>
</div>