<div class="container">
  <table *ngIf="items.length>0" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Item Code</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>
          {{item.item_code}}
        </td>
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.category_id}}
        </td>
        <td>
          {{item.description}}
        </td>
        <td>
          {{item.manufacturer_id}}
        </td>
        <td>
          {{item.price}}
        </td>
        <td>
          {{item.total_stock}}
        </td>
        <td>
          <button type="button" (click)="open(content, item)" class="btn btn-info">Refill</button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Quantity</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="number" [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}" value="0" min="1" step="1" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');proceed()">Proceed</button>
  </div>
</ng-template>