/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/forms.css';
.bg-app {
    min-height: -webkit-fill-available;
    background: #0b0e8c;
    background-repeat: no-repeat;
}
img.logo {
    height: 180px;
    width: auto;
}
.logo-center {
    text-align: center;
    padding-bottom: 25px;
}